@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

:root {
  --light-color: lightgrey;
  --dark-color-1: grey;
  --dark-color-2: darkcyan;
  --success-color: darkgreen;
  --error-color: darkred;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background: var(--light-color);
  margin: 20px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.btn {
  cursor: pointer;
  padding: 5px 15px;
  background: var(--light-color);
  color: var(--dark-color-1);
  border: 0;
  font-size: 17px;
}
